.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem
  }
  .categories .box{
    background: #fff;
    padding: 3rem 2rem;
    text-align: center;
  }
  .categories .box img{
    height: 15rem;
    margin: 1rem 0;
    padding-left: 50px;
  }
  .categories .box h3{
    font-size:2rem;
    line-height:1.8;
    color: var(--black);
  }
  .categories .box p{
    color: var(--light-color);
    list-style: 1.8;
    font-size: 1.7rem;
    padding: 1rem 0;
  }